<a href="https://colab.research.google.com/github/hayden-huynh/Rotton-Tomatoes-Review-Classifier/blob/master/RT_Reviews_NaiveBayes_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Process

1. Download the Rotten Tomatoes Reviews [dataset](https://www.kaggle.com/datasets/ulrikthygepedersen/rotten-tomatoes-reviews)
2. Split the original dataset into smaller *train* (70%), *dev* (10%), and *test* (20%) datasets
3. Train the classifier using *train* dataset
4. Improve the classifier using *dev* dataset (?)
5. Test accuracy of the classifier using *test* dataset

# Download Dataset from Kaggle

In [ ]:
# Download the Rotten Tomatoes Reviews dataset from Kaggle
# Reference 1 (Ref 1): https://www.analyticsvidhya.com/blog/2021/06/how-to-load-kaggle-datasets-directly-into-google-colab/

# Ref 1 starts =====
! pip install kaggle
! mkdir ~/.kaggle
! cp /content/drive/MyDrive/kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download ulrikthygepedersen/rotten-tomatoes-reviews
! unzip rotten-tomatoes-reviews.zip
# ===== Ref 1 ends

# Split the Original Dataset

In [10]:
# Reference 2 (Ref 2): https://stackoverflow.com/questions/43777243/how-to-split-a-dataframe-in-pandas-in-predefined-percentages 

import pandas as pd
import numpy as np

reviews = pd.read_csv("/content/rt_reviews.csv", encoding="latin-1")

print("----- Samples -----")
print(reviews.head(5))

print("\n----- Summary -----")
print(reviews.describe())

----- Samples -----
  Freshness                                             Review
0     fresh   Manakamana doesn't answer any questions, yet ...
1     fresh   Wilfully offensive and powered by a chest-thu...
2    rotten   It would be difficult to imagine material mor...
3    rotten   Despite the gusto its star brings to the role...
4    rotten   If there was a good idea at the core of this ...

----- Summary -----
       Freshness                    Review
count     480000                    480000
unique         2                    339697
top        fresh   Parental Content Review
freq      240000                       166
(480000, 2)

In [11]:
# Ref 2 starts =====
def split_by_fractions(df, fracs, random_state=1):
    remain = df.index.copy().to_frame()
    res = []
    for i in range(len(fracs)):
        fractions_sum = sum(fracs[i:])
        frac = fracs[i]/fractions_sum
        idxs = remain.sample(frac=frac, random_state=random_state).index
        remain=remain.drop(idxs)
        res.append(idxs)
    return [df.loc[idxs] for idxs in res]
# Ref 2 ends =====

train, dev, test = split_by_fractions(reviews, [0.7, 0.1, 0.2])
print(train.shape, dev.shape, test.shape)

(336000, 2) (48000, 2) (96000, 2)

# Training

In [32]:
train.loc[train["Freshness"] == "rotten"]

       Freshness                                             Review
77126     rotten   The script is packed with witty touches, but ...
78882     rotten   After an opening-credits sequence of internet...
469746    rotten   It's not a relationship we become invested in...
146819    rotten   More of a curiosity than a cohesive sampling ...
113113    rotten   Sadly the movie is a failure. [Full review in...
...          ...                                                ...
1839      rotten                                  Sabotages itself.
157647    rotten   It could someday serve as a Y2K time capsule,...
135753    rotten   The action sequences are decent; they just ar...
384365    rotten   Enchanted isn't something to get worked up ov...
85833     rotten   Christopher Nolan's latest exercise in devisi...

[167714 rows x 2 columns]